<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    </head>

  <h2>Movie Management</h2>
  <form class = "form-inline" (ngSubmit)="onSubmitMovie(addnewmovie)" #addnewmovie="ngForm">
  
    <div class="form-group">
      <label for="title" >Title</label>
      <input type="text" ngModel #title="ngModel" name="title" class="form-control" id="title" placeholder="The Breakfast Club" required>
    </div>

    <div class="form-group">
      <label for="budget">Budget</label>
      <input type="text" ngModel #budget="ngModel" name="budget" class="form-control" id="budget" placeholder="$1,000,000" required>
    </div>
    
    <div class="form-group">
      <label for="ReleaseDate">Release Date</label>
      <input type="date" ngModel #releaseDate="ngModel" name="releaseDate"  class="form-control" id="releaseDate" placeholder="01/01/1990" required>
    </div>

    <div class="form-group">
      <label for="Distributor">Distributor</label>
      <input type="text" ngModel #Distributor="ngModel" name="distributor" class="form-control" id="distributor" placeholder="21st Century Fox" required>
    </div>
      <button type="submit" class="btn btn-primary">Add Movie</button>
    <br>
    <br>
      <div class="container">
         <div class="col-sm-offset-2 col-md-9">
          <div class="panel panel-default">
            <table class="table table-striped">
                <thead>
                <tr>
                  <th>Movie Title</th>
                  <th>Release Year</th>
                  <th>Budget</th>
                  <th>Distirbutor</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let movie of movies">
                  <th>{{movie.title}}</th>
                  <th>{{movie.releaseDate}}</th>
                  <th>{{movie.budget}}</th>
                  <th>{{movie.distributor}}</th>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
      </div>
    </form>
  
      <h2>Actor Management</h2>
      <form class = "form-inline" (ngSubmit)="onSubmitActor(addnewactor)" #addnewactor="ngForm">
 
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" ngModel #firstName="ngModel" name="firstName" class="form-control" id="firstName" placeholder="Molly" required>
    </div>

    <div class="form-group">
      <label for="budget">Last Budget</label>
      <input type="text" ngModel #lastName="ngModel" name="lastName" class="form-control" id="lastName" placeholder="Ringwald" required>
    </div>
    
    <div class="form-group">
      <label for="activeSinceYear">Active Since</label>
      <input type="number" ngModel #activeSinceYear="ngModel" name="activeSinceYear"  class="form-control" id="activeSinceYear" placeholder="1970" required>
    </div>
    
    <div class="form-group">
      <label for="birthdDate"> Birthday </label>
      <input type="date" ngModel #birthDate="ngModel" name="birthDate" class="form-control" id="birthDate" placeholder="01/01/1970" required>
    </div>

      <button type="submit" class="btn btn-primary">Add Actor</button>

      <br>
      <br>
<br>

      <div class="container">
        <div class="col-sm-offset-2 col-sm-9">
          <div class="panel panel-default">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Years Active</th>
                  <th>Birthday</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actor of actors">
                  <th>{{actor.firstName}}</th>
                  <th>{{actor.lastName}}</th>
                  <th>{{actor.activeSinceYear}}</th>
                  <th>{{actor.birthDate}}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
    
  
      </html>